.index{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	#container{
		width: 100%;
		height: 100%; 
	}
	.main{
		
	}
	.top{
		background: url(../images/top.png) no-repeat 0 0;
		background-size: 100% 100%;
		box-sizing: border-box;
		width: 100%;
		padding: 0 0.5rem;
		padding-top: 0.15rem;
		padding-bottom: 0.3rem;
		&>div{
			float: left;
			width: 25%;
			font-size: 0.15rem;
		}
		.c{
			width: 50%;
			text-align: center;
			font-weight: bold;
			font-size: 0.30rem;
		}
		.r{
			float: right;
			text-align: right;
		}
	}
	
	.box{
		background-color: #fff;
		border-radius: 15px;
		box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
		padding: 0.15rem;
		box-sizing: border-box;
	}
	.top_two{
		padding:0 20px;
		box-sizing: border-box;
		&>div{
			float: left;
			width: 23%;
			transform: translateY(-0.25rem);
		}
		.c{
			width: 50%;
			margin: 0 1%;
			transform: none;
			.t{
				border-top: 1px dashed #3565B8;
				width: 60%;
				margin: auto;
				text-align: center;
				color: #3565B8;
				height: 0.14rem;
				position: relative;
				span{
					position: absolute;
					top: 0;
					left: 50%;
					box-sizing: border-box;
					width: 60%;
					background-color: #fff;
					transform: translate(-50%,-60%);
					display: inline-block;
					font-size: 0.18rem;
					font-weight: bold;
					padding: 0 10px;
				}
			}
			&>b{
				display: block;
				text-align: center;
				font-size:0.45rem;
				color: #3565B8;
			}
			ul{
				margin-top: 5px;
				border-radius: 20px;
				overflow: hidden;
				li{
					float: left;
					width: 25%;
					text-align: center;
					color: #fff;
					font-size: 0.12rem;
					padding: 5px 0;
				}
				li:nth-child(1){
					background-color: #8B8B8B;
				}
				li:nth-child(2){
					background-color: #3565B8;
				}
				li:nth-child(3){
					background-color: #44A1F3;
				}
				li:nth-child(4){
					background-color: #20C5D8;
				}
			}
		}
		.r{
			float: right;
		}
		.l,.r{
			text-align: center;
			p{
				font-size: 0.15rem;
				text-align: center;
				padding-bottom: 5px;
				i{
					display: inline-block;
					width: 0.1rem;
					height: 0.1rem;
					background-color: #3565B8;
					border-radius: 50%;
					margin-right: 5px;
				}
			}
			b{
				display: block;
				font-size: 0.25rem;
			}
		}
		.r{
			p{
				font-size: 0.1rem;
			}
			b{
				font-size: 0.17rem;
			}
		}
		
				
				.element1{
		            width:1rem;
		            height: 1rem;
		            background-color: #44A1F3;
		            border-radius: 50%;
					position: relative;
					
		        }
		        .child1{
		            width: 80%;
		            height: 80%;
		            border-radius: 50%;
		            background-color: #EEF5FE;
		            position: absolute;
		            top: 50%;
		            left: 50%;
					transform: translate(-50%,-50%);
					padding-top: 15%;
					box-sizing: border-box;
					color: #44A1F3;
					p{
						font-size: 0.12rem;
					}
					p:last-child{
						font-size: 0.28rem;
						position: relative;
						top: -5px;
					}
		        }
				
				.element2{
					width:1.6rem;
					height: 1.6rem;
					float: right;
					background-color: #20C5D8;
					transform: translateY(-0.2rem);
					.child1{
						background-color: #EEFDFF;
						color: #20C5D8;
						p{
							font-size: 0.2rem;
						}
						p:last-child{
							font-size: 0.38rem;
							position: relative;
							top: -5px;
						}
					}
				}
		
	}
	
	.bottom{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
		ul{
			li{
				float: left;
				width: 29%;
				box-sizing: border-box;
				margin-right: 1%;
				.cvs{
					height: 2.5rem;
				}
				p{
					font-size: 0.18rem;
					i{
						display: inline-block;
						width: 0.15rem;
						height: 0.15rem;
						background-color: #44A1F3;
						border-radius: 50%;
						margin-right: 5px;
					}
				}
			}
			.ns{
				width: 18%;
				p{
					i{
						background-color: #3565B8;
					}
				}
				div{
					text-align: center;
					font-size: 0.36rem;
					padding-bottom: 0.20rem;
				}
			}
			.pc{
				width: 20%;
			}
			.fb{
				width: 30%;
				margin-right: 0;
				position: relative;
				p{
					i{
						background-color: #3565B8;
					}
				}
				&>div{
					
				}
				ul{
					position: absolute;
					top: 10%;
					right: 5%;
					li{
						i{
							
						}
					}
				}
			}
			
			.bj{
				p{
					i{
						background-color: #20C5D8;
					}
				}
			}
		}
		ul:last-child{
			margin-top: 20px;
			li{
				.cvs2{
					height: 1.6rem;
					width: 100%;
				}
			}
			.bj{
				&>div>.cvs2{
					float: left;
					width: 50%;
				}
			}
			.qs{
				width: 39%;
				p{
					i{
						background-color: #20C5D8;
					}
				}
				.cvs2{
					//background-color: #ECF5FE;
				}
			}
			.lj{
				p{
					i{
						background-color: #3565B8;
					}
				}
				width: 30%;
				margin-right: 0;
			}
		}
	}
	
	
	
}