.index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.index #container {
  width: 100%;
  height: 100%;
}
.index .top {
  background: url(../images/top.png) no-repeat 0 0;
  background-size: 100% 100%;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.5rem;
  padding-top: 0.15rem;
  padding-bottom: 0.3rem;
}
.index .top > div {
  float: left;
  width: 25%;
  font-size: 0.15rem;
}
.index .top .c {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 0.3rem;
}
.index .top .r {
  float: right;
  text-align: right;
}
.index .box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  padding: 0.15rem;
  box-sizing: border-box;
}
.index .top_two {
  padding: 0 20px;
  box-sizing: border-box;
}
.index .top_two > div {
  float: left;
  width: 23%;
  transform: translateY(-0.25rem);
}
.index .top_two .c {
  width: 50%;
  margin: 0 1%;
  transform: none;
}
.index .top_two .c .t {
  border-top: 1px dashed #3565B8;
  width: 60%;
  margin: auto;
  text-align: center;
  color: #3565B8;
  height: 0.14rem;
  position: relative;
}
.index .top_two .c .t span {
  position: absolute;
  top: 0;
  left: 50%;
  box-sizing: border-box;
  width: 60%;
  background-color: #fff;
  transform: translate(-50%, -60%);
  display: inline-block;
  font-size: 0.18rem;
  font-weight: bold;
  padding: 0 10px;
}
.index .top_two .c > b {
  display: block;
  text-align: center;
  font-size: 0.45rem;
  color: #3565B8;
}
.index .top_two .c ul {
  margin-top: 5px;
  border-radius: 20px;
  overflow: hidden;
}
.index .top_two .c ul li {
  float: left;
  width: 25%;
  text-align: center;
  color: #fff;
  font-size: 0.12rem;
  padding: 5px 0;
}
.index .top_two .c ul li:nth-child(1) {
  background-color: #8B8B8B;
}
.index .top_two .c ul li:nth-child(2) {
  background-color: #3565B8;
}
.index .top_two .c ul li:nth-child(3) {
  background-color: #44A1F3;
}
.index .top_two .c ul li:nth-child(4) {
  background-color: #20C5D8;
}
.index .top_two .r {
  float: right;
}
.index .top_two .l,
.index .top_two .r {
  text-align: center;
}
.index .top_two .l p,
.index .top_two .r p {
  font-size: 0.15rem;
  text-align: center;
  padding-bottom: 5px;
}
.index .top_two .l p i,
.index .top_two .r p i {
  display: inline-block;
  width: 0.1rem;
  height: 0.1rem;
  background-color: #3565B8;
  border-radius: 50%;
  margin-right: 5px;
}
.index .top_two .l b,
.index .top_two .r b {
  display: block;
  font-size: 0.25rem;
}
.index .top_two .r p {
  font-size: 0.1rem;
}
.index .top_two .r b {
  font-size: 0.17rem;
}
.index .top_two .element1 {
  width: 1rem;
  height: 1rem;
  background-color: #44A1F3;
  border-radius: 50%;
  position: relative;
}
.index .top_two .child1 {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #EEF5FE;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 15%;
  box-sizing: border-box;
  color: #44A1F3;
}
.index .top_two .child1 p {
  font-size: 0.12rem;
}
.index .top_two .child1 p:last-child {
  font-size: 0.28rem;
  position: relative;
  top: -5px;
}
.index .top_two .element2 {
  width: 1.6rem;
  height: 1.6rem;
  float: right;
  background-color: #20C5D8;
  transform: translateY(-0.2rem);
}
.index .top_two .element2 .child1 {
  background-color: #EEFDFF;
  color: #20C5D8;
}
.index .top_two .element2 .child1 p {
  font-size: 0.2rem;
}
.index .top_two .element2 .child1 p:last-child {
  font-size: 0.38rem;
  position: relative;
  top: -5px;
}
.index .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.index .bottom ul li {
  float: left;
  width: 29%;
  box-sizing: border-box;
  margin-right: 1%;
}
.index .bottom ul li .cvs {
  height: 1.8rem;
}
.index .bottom ul li p {
  font-size: 0.15rem;
}
.index .bottom ul li p i {
  display: inline-block;
  width: 0.12rem;
  height: 0.12rem;
  background-color: #44A1F3;
  border-radius: 50%;
  margin-right: 5px;
}
.index .bottom ul .ns {
  width: 18%;
}
.index .bottom ul .ns p i {
  background-color: #3565B8;
}
.index .bottom ul .ns div {
  text-align: center;
  font-size: 0.28rem;
  padding-bottom: 0.1rem;
}
.index .bottom ul .pc {
  width: 20%;
}
.index .bottom ul .fb {
  width: 30%;
  margin-right: 0;
  position: relative;
}
.index .bottom ul .fb p i {
  background-color: #3565B8;
}
.index .bottom ul .fb ul {
  position: absolute;
  top: 10%;
  right: 5%;
}
.index .bottom ul .bj p i {
  background-color: #20C5D8;
}
.index .bottom ul:last-child {
  margin-top: 15px;
}
.index .bottom ul:last-child li .cvs2 {
  height: 1.5rem;
  width: 100%;
}
.index .bottom ul:last-child .bj > div > .cvs2 {
  float: left;
  width: 50%;
}
.index .bottom ul:last-child .qs {
  width: 39%;
}
.index .bottom ul:last-child .qs p i {
  background-color: #20C5D8;
}
.index .bottom ul:last-child .lj {
  width: 30%;
  margin-right: 0;
}
.index .bottom ul:last-child .lj p i {
  background-color: #3565B8;
}
