body,
html {
	width: 100%;
	height: 100%;

	font-family: "Microsoft YaHei"
}

#mapDiv {

	width: 100%;
	height: 100%;
}

.maptype {
	width: 222px;
	height: 72px;
	z-index: 100;
	position: fixed;
	top: 70px;
	right: 10px;
	padding: 6px;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.maptype img {
	width: 100px;
	height: 60px;
	z-index: 100;
}

.vector:hover {
	content: url('../images/bz1.png');
	cursor: pointer;
}

.satellite {
	margin-left: 3px;
}

.satellite:hover {
	content: url('../images/wx1.png');
	cursor: pointer;
}

/* 半透明的遮罩层 */
#overlay {
	background: #000;
	filter: alpha(opacity=50);
	/* IE的透明度 */
	opacity: 0.5;
	/* 透明度 */
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
	/* 此处的图层要大于页面 */
	display: none;
}
.searchContainer{
	position: fixed;
	top: 20px;
	left: 30px;
	z-index: 50;
}
.searchinput {
	position: absolute;
}

#mapDiv {
	z-index: 1;
}

#searchInput {
	width: 400px;
	height: 40px;
	border-radius: 5px;
	z-index: 2101;
	position: absolute;
}

#searchBtn {
	position: absolute;
	left: 12px;
	top: 5px;
	z-index: 3000;
	cursor: pointer;
	line-height: 40px;
}


.searchDiv {
	width: 55px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 345px;
	z-index: 2101;
	background: #E7681B;
	border: none;
	border-radius: 0px 5px 5px 0px;

}

.searchinput .Navigator {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 3px;
	left: 312px;
	z-index: 2101;
}

.tdt-infowindow-content-wrapper {
	cursor: auto;
	box-shadow: 5px 5px 5px #000;
}

.daohang {
	width: 30px;
	height: 30px;
	cursor: crosshair;
}

#search1 {
	position: relative;
}

.tdt-top .tdt-control {
	display: none;
}

.tdt-left .tdt-control {
	display: none;
}

#ding {
	width: 52px;
	height: 52px;
	position: fixed;
	right: 20px;
	bottom: 152px;
	z-index: 700;
	cursor: pointer;
}

.tdt-touch .tdt-bar a {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.resultDivs {
	max-height: 425px;
	width: 400px;
	overflow-y: auto;
	z-index: 2101;
	background-color: #FFFFFF;
	margin-top: 1px;
	position: absolute;
	left: 0px;
	top: 50px;
	display: none;
	border-radius: 4px;
}

.list-group li {
	border-bottom: 1px solid #F2F2F2;
	cursor: pointer;
	height: 85px;
}

.div1 {
	margin-top: 15px;
	font-size: 16px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	line-height: 21px;
	height: 21px;
	color: #5A5A5A;
	overflow: hidden;
}

.div1 img {
	margin-left: 27px;
	width: 11px;
	height: 20px;
}

.span1 {
	margin-left: 10px;
}

.div2 {
	font-size: 12px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	line-height: 16px;
	color: #999999;
	margin-left: 47px;
}

.div3 {
	font-size: 12px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	line-height: 16px;
	color: #999999;
	margin-left: 47px;
}

#remarker {
	/* margin-top: 20px; */
	margin-left: 70px;
	cursor: pointer;
	margin-bottom: 10px;
}

#jietu {
	/* margin-top: 20px; */
	margin-left: 10px;
	cursor: pointer;
	margin-bottom: 10px;
}



.infowindow-content {
	background-color: #fff;
	margin: 0px 19px;
	width: 300px;
	height: 125px;
	margin: 0 !important;
	overflow: hidden;

}

.infowindow-content .info_name {
	clear: both;
	width: 100%;
	font-size: 14px;
	line-height: 30px;
}

.infowindow-content .info_address {
	clear: both;
	width: 100%;
	font-size: 14px;
	line-height: 30px;
}

.infowindow-content .info_bt {
	clear: both;
	bottom: 35px;
	right: 20px;
	position: absolute;
}


.tdt-infowindow-content p:first-child {
	margin: 0;
	padding-top: 18px;
}

.tdt-marker-icon {
	/* width: 31px !important; */
	/* height: 41px !important; */
}


		.themelayer{
		background-color: #FFFFFF;
		border-radius: 5px;
		z-index: 100;
		position: fixed;
		top: 20px;
		right: 10px;
		width: 660px;
		height: 40px;
		line-height: 40px;
	}
	
	.themelayer .resultImg{
		margin-left: 20px;
		height: 18px;
		width: 18px;
	}
	.themelayer .resultPoint{
		float: right;
		width: 200px;
	}
	.themelayer .point{
		font-size: 14px;
		float: right;
		margin-right: 20px;
	}
	
	.themelayer .separator{
	    float: right;
	    height: 30px;
	    border: 1px solid #dddddd;
	    line-height: 40px;
	    margin-top: 5px;
		margin-right: 10px;
	}
	.themelayer .theme{
		font-size: 14px;
		float: right;
		margin-right: 10px;
	}
	
	.themelayer ul{
		float: right;
	 list-style: none;
	 height: 40px;
	 width: 450px;
	}
	.themelayer ul li{
		height: 40px;
	    line-height: 40px;
		float: left;
		margin-right: 10px;
	}
	.themelayer ul li img{
		 width: 24px;
		 height: 24px;
		 border: 0px;
		 cursor: pointer;
	}
	.themelayer ul li div{
		margin-top: 1px;
		margin-left: 5px;
		float: right;
		font-size: 12px;
		line-height: 40px;
		height: 40px;
	}


 

.sp1 {
	height: 19px;
	font-size: 14px;
	font-family: Microsoft YaHei;
	font-weight: 400;
	line-height: 19px;
	color: #999999;
	opacity: 1;
}

.sp1:hover {
	color: #E7681B;
}

.xian {
	margin-left: 28px;
	margin-top: 10px;
	width: 0px;
	height: 26px;
	border: 1px solid #DDDDDD;
	opacity: 1;

}

#tou {
	margin-left: 10px;
	margin-top: 5px;
	cursor: pointer;
}

.tdt-bottom .tdt-control {
	margin-bottom: 22px;
}

.tdt-right .tdt-control {
	margin-right: 24px;
}
 

.loading span:nth-child(2) {
	animation-delay: 0.2s;
}

.loading span:nth-child(3) {
	animation-delay: 0.4s;
}

.loading span:nth-child(4) {
	animation-delay: 0.6s;
}

.loading span:nth-child(5) {
	animation-delay: 0.8s;
}
